@import url("https://fonts.google.com/specimen/Source+Sans+Pro");

h1 {
	color: #337ab7;
	font-family: 'Source Sans Pro', sans-serif;
}
h2, h3 {
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #80ffff;
}

footer {
  	text-align: center;
  	width: 1000px; margin: 0 auto;
  	background-color: rgb(255, 255, 255);
  	font-family: 'Source Sans Pro', sans-serif;
}

#barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255,255,255);
    width: 1000px; margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.acceso {
    float: right;
}

.acceso a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
  
.acceso a:hover {
    background-color: #337ab7;
    color: rgb(255,255,255);
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px 8px;
}

.logo{
	width: 100px; 
	height: 50px;
}

.tabla_banner{
	width: 1000px; margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size:15px;
    caption-side: bottom;
}

.banner{
	width: 100%; 
	height: 400px;
}

.contenido{
    width: 1000px; margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size:15px;
    caption-side: bottom;
}

.centrar{
	text-align:center;
}

.izquierda {
	text-align:right;
}

.derecha {
	text-align:right;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.container{
	width: 100%; 
	height: 500px;
	padding: 20px 20px;
}

table {
	table-layout: fixed;
}

th, td {
  border: 5px solid white;
}


.laminas1 {
	text-align:center;
	background-image: url(/imagenes/foto1.PNG);
	width: 313px; 
	height: 450px;
	border-radius: 5%;
	padding: 50% 0%;
}

.laminas2 {
	text-align:center;
	background: white;
	width: 313px; 
	height: 450px;
	border-radius: 5%;
	padding: 50% 0%;
}

.laminas3 {
	text-align:center;
	background-image: url(/imagenes/foto2.PNG);
	width: 313px; 
	height: 450px;
	border-radius: 5%;
	padding: 50% 0%;
}

.circulo {
	border-radius: 50%;
    width:70px;
}