/*Se realiza la importación de la fuente especificada para usar en el prueba tecnica*/
@import url("https://fonts.google.com/specimen/Source+Sans+Pro");

/*Estilos generales de la pagina web*/
h1 {
	color: #337ab7;
	font-family: 'Source Sans Pro', sans-serif;
}
h2, h3 {
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #ffffff;
}

footer {
  	text-align: center;
  	width: 1000px; margin: 0 auto;
  	background-color: rgb(255, 255, 255);
  	font-family: 'Source Sans Pro', sans-serif;
}

table {
	table-layout: fixed;
}

th, td {
  border: 5px solid white;
}

.cinta {
    float: right;
}

.cinta a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 3px 8px;
    text-decoration: none;
}
  
.cinta a:hover {
    background-color: #337ab7;
    color: rgb(255,255,255);
}

#barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255,255,255);
    width: 1000px; margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.acceso {
    float: right;
}

.acceso a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
  
.acceso a:hover {
    background-color: #337ab7;
    color: rgb(255,255,255);
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px 8px;
}

.logo{
	width: 100px; 
	height: 50px;
}

.tabla_banner{
	width: 1000px; margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size:15px;
    caption-side: bottom;
}

.banner{
	width: 100%; 
	height: 400px;
}

.contenido{
    width: 1000px; margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size:15px;
    caption-side: bottom;
}

.centrar{
	text-align:center;
}

.izquierda {
	text-align:right;
}

.derecha {
	text-align:right;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.container{
	width: 100%; 
	height: 100%;
	padding: 30px 30px;
}

.datos {
	font-size:20px;
	text-align:center;
	/*-webkit-text-stroke: 1px black;*/
  	color: #000000; 
  	text-shadow: -1px -1px 1px #46b8da, -1px -1px 1px #46b8da, -1px -1px 1px #46b8da, -1px -1px 1px #46b8da;
}

.circulo {
	border-radius: 50%;
    width:70px;
}

.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:#337ab7;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

.opciones{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
    font-size:12px;
}



/*Estilos de las 2 tarjetas interactivas*/
.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 230px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;
	backface-visibility: hidden;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: black;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}
