<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Inicio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/estilos.css">
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>
<br>
<!--Barra de navegacióm principal-->
<nav>
	<ul id="barra">
	<!-- Logo -->
	<img class="logo" src="imagenes/lucasian-logo.png">
    	<li class="acceso"><button type="button" class="btn btn-primary">Login</button></li>
        <li class="acceso"><a href="#">Menu1</a></li>
        <li class="acceso"><a href="#">Menu2</a></li>
        <li class="acceso"><a href="#">Menu3</a></li>
        <li class="acceso"><a href="#">Menu4</a></li>
        <li class="acceso"><a href="#">Menu5</a></li>
	</ul>
</nav>


<div class="contenido">
	<!--Banner principal-->
	
	<table class="tabla_banner">
	<tr>
		<td>
			<h1>Bienvenido</h1>
			Contenido more professional!
			Lore
		</td>
		<td colspan="2">
			<img class="banner" src="imagenes/Captura.PNG">
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<!--Titulo de la seccion-->
			<h2>Titulo de la seccion</h2>
		</td>
	</tr>
	<tr>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL1.PNG">
				<h3>Servicio 1</h3>
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL2.PNG">
				<h3>Servicio 2</h3>
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL3.PNG">
				<h3>Servicio 3</h3>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
			<div class="izquierda">
				<img src="imagenes/flecha.PNG">
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/lapso.PNG">
			</div>
		</td>
		<td>
			<div class="derecha">
				<img src="imagenes/flecha.PNG">
			</div>
		</td>
	</tr>
	
	<tr>
		<td colspan="3">
			<div class="centrar">
				Texto centralizar parrafo
				<img src="imagenes/ovalo.png">
			</div>
		</td>
	</tr>
	<tr th:each="usuario: ${listaUsuarios}">
		<td th:text="${usuario.name}"></td>
		<td th:text="${usuario.email}"></td>
		<td th:text="${usuario.phone}"></td>
	</tr>
	</table>
	
	<p th:text="${listaUsuarios[1].name}" />
	
	
	
	<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
      	<table>
      		<tr th:each="i : ${#numbers.sequence(0, 2)}" th:value="${i}">
				<td th:text="${listaUsuarios[i].name}"></td>
				<td th:text="${listaUsuarios[i].email}"></td>
				<td th:text="${listaUsuarios[i].phone}"></td>
			</tr>
      	</table>
      </div>

      <div class="item">
        <table>
      		<tr th:each="i : ${#numbers.sequence(3, 5)}" th:value="${i}">
				<td th:text="${listaUsuarios[i].name}"></td>
				<td th:text="${listaUsuarios[i].email}"></td>
				<td th:text="${listaUsuarios[i].phone}"></td>
			</tr>
      	</table>
      </div>
    
      <div class="item">
        <table>
      		<tr th:each="i : ${#numbers.sequence(6, 8)}" th:value="${i}">
				<td th:text="${listaUsuarios[i].name}"></td>
				<td th:text="${listaUsuarios[i].email}"></td>
				<td th:text="${listaUsuarios[i].phone}"></td>
			</tr>
      	</table>
      </div>
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
	
	
	
</div>


<footer>
  <p>Autor: Yilber Serrano</p>
  <p><a href="mailto:hege@example.com">yilber.serrano@gmail.com</a></p>
  <div class="centrar"><img class="logo" src="imagenes/lucasian-logo.png"></div>
</footer>
        
</body>
</html>