<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Inicio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/estilos.css">
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>
<br>
<!--Barra de navegacióm principal-->
<nav>
	<ul id="barra">
	<!-- Logo -->
	<img class="logo" src="imagenes/lucasian-logo.png">
    	<li class="acceso"><div class="centro"><button type="button" class="btn btn-primary">Login</button></div></li>
        <li class="acceso"><a href="#">Menu 5</a></li>
        <li class="acceso"><a href="#">Menu 4</a></li>
        <li class="acceso"><a href="#">Menu 3</a></li>
        <li class="acceso"><a href="#">Menu 2</a></li>
        <li class="acceso"><a href="#">Menu 1</a></li>
	</ul>
</nav>


<div class="contenido">
	<!--Banner principal-->
	
	<table class="tabla_banner">
	<tr>
		<td>
			<div class="centrar">
				<h1>Bienvenido a mi pagina web de servicios</h1>
				<p>
				En esta pagina encontraras servicios relacionados con el desarrollo
				de software, aplicaciones, dashboards y plataformas web.
				</p>
				<div>
					<button type="button" class="btn btn-success">Empezar</button>
					<button type="button" class="btn btn-info">Ver video</button>
				</div>
			</div>
		</td>
		<td colspan="2">
			<img class="banner" src="imagenes/Captura.PNG">
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div class="centro"><button type="button" class="btn btn-secondary">¿Necesitas Ayuda?</button></div>
			<!--Titulo de la seccion-->
			<h2>Principales Servicios ofertados</h2>
		</td>
	</tr>
	<tr>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL1.PNG">
				<h3>Desarrollo de dispositivos IoT</h3>
				<p>Diseño, contrucción e instación de dispositivos inteligentes IoT para monitoreo y analítica de variables.</p>
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL2.PNG">
				<h3>Desarrollo de aplicaciones web</h3>
				<p>Diseño, programación, actualización y mantenimiento de sitios, paginas, plataformas y aplicaciones web.</p>
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/imgL3.PNG">
				<h3>Automatización de procesos</h3>
				<p>Estudio, planeación, diseño y puesta en funcionamiento de sistema de automatización de procesos con dispositivos industriales.</p>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
			<div class="izquierda">
				<img src="imagenes/flecha.PNG">
			</div>
		</td>
		<td>
			<div class="centrar">
				<img src="imagenes/lapso.PNG">
			</div>
		</td>
		<td>
			<div class="derecha">
				<img src="imagenes/flecha.PNG">
			</div>
		</td>
	</tr>
	
	<tr>
		<td colspan="3">
			<div class="centrar">
				<p>Gracias a nuestra experiencia en diferentes campos podemos 
				ofrecer diferentes servicios en cualquier niver sin importar el 
				área de aplicación bajo metodologías agiles y sin importar el 
				tipo de lenguaje de programación</p>
				<img src="imagenes/ovalo.png">
				<p>¿Tienes una necesidad? ¡Nosotros la resolvemos!</p>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<h2>Selecciona nuestro planes</h2>
			<p>Ofrecemos dos planes de servicios con las siguientes caracteristicas: </p>
			<div>
				<button type="button" class="btn btn-primary">Mes</button>
				<button type="button" class="btn btn-info">Año</button>
			</div>
		</td>
		<td colspan="2">
			
			<div class="contenedor">
				<div class="contenedor_tarjeta">
					<a href="#">
						<figure id="tarjeta">
							<img src="imagenes/tarjeta1.jpg" class="frontal" alt="">
  							<div class="opciones"><p><br><br><br><br><li>Acesorias en aplicaciones web</li><li>Actualización de aplicaciones web</li><li>Acesorias de diseño web</li><li>Soporte de lunes a viernes</li></p></div>
							<figcaption class="trasera">
								<h2 class="titulo">Inicia tu negocio!</h2>
								<hr>
								<p>Contamos con un equipo de profesionales para ayudarte a iniciar tu negocio en linea con desarrollo en diferentes tecnologias.</p>
							</figcaption>
						</figure>
					</a>
				</div>
		
				<div class="contenedor_tarjeta">
					<a href="#">
						<figure id="tarjeta">
							<img src="imagenes/tarjeta2.jpg" class="frontal" alt="">
							<div class="opciones"><p><br><br><br><br><li>Acesorias en aplicaciones web</li><li>Actualización y mantenimiento de aplicaciones web</li><li>Acesorias de diseño web</li><li>Diseño de dashboard</li><li>Soporte 24/7</li></p></div>
							<figcaption class="trasera">
								<h2 class="titulo">Renueva y manten tus aplicaciones web!</h2>
								<hr>
								<p>Contamos con gran trayectoria en el diseño, contrucción, mantenimiento de aplicaciones web para diferentes áreas y entornos con diferentes servicios en linea.</p>
							</figcaption>
						</figure>
					</a>
				</div>
		
				
			</div>
			
		</td>
	</tr>
	</table>

	
	<div class="container">
  		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    	<!-- Flechas de navegacion del carrusel -->
		    <ol class="carousel-indicators">
		    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      	<li data-target="#myCarousel" data-slide-to="1"></li>
		      	<li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

	    <!-- Contenido a mostrar dentro del carrusel -->
	    <div class="carousel-inner">
     		<div class="item active">
     			
      		<table>
	      		<tr>
					<td th:each="i : ${#numbers.sequence(0, 2)}" th:value="${i}">
					<div class="laminas1">
						<div class="centrar"><img class="circulo" src="imagenes/img1.jpg"></div>
						<div th:text="${listaUsuarios[i].name}"></div> 
						<div th:text="${listaUsuarios[i].email}"></div>
						<div th:text="${listaUsuarios[i].phone}"></div>
						<a class="btn btn-info" th:href="${listaUsuarios[i].website}"target="_blank">Vistar pagina web</a>
					</div>
					</td>
					
				</tr>
      		</table>
      		
     	</div>

      	<div class="item">
	      	
	      	<table>
	      		<tr>
					<td th:each="i : ${#numbers.sequence(3, 5)}" th:value="${i}">
					<div class="laminas2">
						<div class="centrar"><img class="circulo" src="imagenes/img2.jpg"></div>
						<div th:text="${listaUsuarios[i].name}"></div> 
						<div th:text="${listaUsuarios[i].email}"></div>
						<div th:text="${listaUsuarios[i].phone}"></div>
						<a class="btn btn-info" th:href="${listaUsuarios[i].website}"target="_blank">Vistar pagina web</a>
					</div>
					</td>
					
				</tr>
      		</table>
	      	
      	</div>
    
      	<div class="item">
	        
	        <table>
	      		<tr>
					<td th:each="i : ${#numbers.sequence(6, 8)}" th:value="${i}">
					<div class="laminas3">
						<div class="centrar"><img class="circulo" src="imagenes/img3.jpg"></div>
						<div th:text="${listaUsuarios[i].name}"></div> 
						<div th:text="${listaUsuarios[i].email}"></div>
						<div th:text="${listaUsuarios[i].phone}"></div>
						<a class="btn btn-info" th:href="${listaUsuarios[i].website}"target="_blank">Vistar pagina web</a>
					</div>
					</td>
					
				</tr>
      		</table>
	        
      	</div>


	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    	<span class="glyphicon glyphicon-chevron-left"></span>
	      	<span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    	<span class="glyphicon glyphicon-chevron-right"></span>
	      	<span class="sr-only">Next</span>
	    </a>
  		</div>
	</div>
	
</div>




<footer>
  <p>Autor: Yilber Serrano</p>
  <p><a href="mailto:hege@example.com">yilber.serrano@gmail.com</a></p>
  <div class="centrar"><img class="logo" src="imagenes/lucasian-logo.png"></div>
</footer>
        
</body>
</html>